
/* .pageimage {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
} */

.mainlogo{
    height: 50px;
    width: 100%;
    border-radius: 100%;
}
.mainlogo2{
    height: 50px;
    width: 100%;
    border-radius: 100%;
}

@media screen and (max-width: 790px)
{
    .mainlogo2{
        display: none;
    }
}

.imagepage{
    height: 100%;
    width: 100%;
}

